<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p>
    Welcome to our custom MEAN authentication application build from scratch.
  </p>
  <div class="main-buttons">
    <a class="btn btn-primary" role="button" routerLink="/register">Register</a>
    <a class="btn btn-secondary" role="button" routerLink="/login">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express</h3>
    <p>
      Express is a minimal and flexible Node.js web application framework that
      provides a robust set of features for web and mobile applications.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Angular</h3>
    <p>
      Angular is a complete JavaScript-based open-source front-end web
      framework. It is maintained by the Angular Team at Google and by a
      community of individuals and corporations.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Node</h3>
    <p>
      Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine.
    </p>
  </div>
</div>
